[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Logs/
UserSettings/
*.pidb.meta
*.pdb.meta
*.mdb.meta
echo .plastic/ >> .gitignore
echo .vs/ >> .gitignore
echo .vsconfig >> .gitignore
echo *.csproj >> .gitignore
echo *.sln >> .gitignore
echo UpgradeLog.htm >> .gitignore
echo ignore.conf >> .gitignore